<configuration scan="false">

	<contextName>flickit-assessment</contextName>
	<jmxConfigurator />
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<springProperty scope="context" name="ASYNC_CONSOLE_QUEUE_SIZE" source="logging.async-console.queue-size" defaultValue="1000"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date{ISO8601,UTC}] %-5level -| %logger{0} -| %msg %rEx%n</pattern>
		</encoder>
	</appender>

	<!-- see https://logback.qos.ch/manual/appenders.html#AsyncAppender -->
	<appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="CONSOLE" />
		<discardingThreshold>0</discardingThreshold>
		<queueSize>${ASYNC_CONSOLE_QUEUE_SIZE}</queueSize>
		<neverBlock>true</neverBlock>
	</appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:9600</destination>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <omitEmptyFields>false</omitEmptyFields>
                    <pattern>
                        {
                        "trace": {
                        "trace_id": "%mdc{X-B3-TraceId}",
                        "span_id": "%mdc{X-B3-SpanId}",
                        "parent_span_id": "%mdc{X-B3-ParentSpanId}",
                        "exportable": "%mdc{X-Span-Export}"
                        }
                        }
                    </pattern>
                </pattern>
                <mdc>
                    <excludeMdcKeyName>traceId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanId</excludeMdcKeyName>
                    <excludeMdcKeyName>parentId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanExportable</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
                </mdc>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>


	<root level="info">
		<appender-ref ref="ASYNC_CONSOLE" />
        <appender-ref ref="LOGSTASH" />
	</root>

	<logger name="org.flickit.assessment" level="info" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE" />
    </logger>


</configuration>
