<configuration scan="false">

    <contextName>flickit-assessment</contextName>
    <jmxConfigurator/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <springProperty scope="context" name="ASYNC_CONSOLE_QUEUE_SIZE" source="logging.async-console.queue-size"
                    defaultValue="1000"/>

    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>

    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%date{ISO8601,UTC}] %-5level -| %logger{0} -| %msg %rEx%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- see https://logback.qos.ch/manual/appenders.html#AsyncAppender -->
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <discardingThreshold>0</discardingThreshold>
        <queueSize>${ASYNC_CONSOLE_QUEUE_SIZE}</queueSize>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="warn">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>

    <logger name="org.flickit.assessment" level="info" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>
</configuration>
