name: CI/CD Pipeline

on:
  push:
    branches-ignore:
      - '*'
  pull_request:
    branches:
      - '*'
env:
  POSTGRES_USER: rootuser
  POSTGRES_PASSWORD: changeme
  POSTGRES_DB: assessment-core
  SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/assessment-core

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: ${{ env.POSTGRES_DB }}
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: adopt

#      - name: Set up PostgreSQL
#        run: |
#          sudo apt-get install postgresql-client
#          psql -h postgres -U ${{ env.POSTGRES_USER }} -d ${{ env.POSTGRES_DB }} -c "CREATE EXTENSION IF NOT EXISTS \"uuid-ossp\";"

      - name: Build with Maven
        run: mvn clean package

      - name: Run Tests
        run: mvn test
